Repository openfoodfacts/openfoodfacts-webcomponents, pull requests merged in 2025-09, with the labels that each got.

#264 feat: adds delete and replace for values and properties
  web-components/eslint.config.js
  web-components/src/api/folksonomy.ts
  web-components/src/components/folksonomy/folksonomy-editor.ts
  web-components/src/components/folksonomy/folksonomy-properties.ts
  web-components/src/components/folksonomy/folksonomy-property-products.ts
  web-components/src/signals/folksonomy.ts
  web-components/src/types/folksonomy.ts
Labels: 🏷️ Folksonomy Engine

#291 fix: Potential fix for code scanning alert no. 25: Workflow does not contain permissions
  .github/workflows/check-build.yml
Labels: GitHub

#273 fix: type scripts errors
  web-components/src/signals/taxonomies.ts
  web-components/src/types/taxonomies.ts
Labels: 🤖 Robotoff, Ingredients spellcheck, Nutrient extraction
